



<html><body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Brand -->
    <a class="navbar-brand me-2 mb-1 d-flex align-items-center" >
      <img src="./assets/logo1.svg" height="40" width="60" alt="" loading="lazy" style="margin-top: 2px;">
    </a>
    
    <!-- Search form -->
    <form class="input-group w-auto my-auto d-none d-sm-flex">
      <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search" style="min-width: 125px;">
      <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
    </form>

    <!-- Left elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">

      <li class="nav-item me-3 me-lg-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/user/home-user">Home</a>
        </li>
      <li class="nav-item me-3 me-lg-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/user/films">Films</a>
      </li>
      <li class="nav-item me-3 me-lg-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/user/myticket">My Tickets</a>
      </li>
      <li class="nav-item me-3 me-lg-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/user/profile">Profile</a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    
    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" >
          <img src="https://mdbootstrap.com/img/new/avatars/1.webp" class="rounded-circle" height="22" alt="" loading="lazy">
          <strong class="d-none d-sm-block ms-1">{{nom}}</strong>
        </a>
      </li>
    </ul>
  </div>
</nav>



<div class="wrapper">
  <h1>All Films are Availble Get Your Ticket Now</h1>
  <div class="card" style="background-image: url('https://d21950x0o1sh55.cloudfront.net/assets/home/game-0e307d71d9838e8fbe4927b551f119bcd9e4748f2c2b70c7b81846702996ef94.jpg')">
    <div class="card__content">
      <a class="play-button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
          <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
          <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
        </svg>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>P</span><span>P</span></span>
          <span><span>l</span><span>l</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>y</span><span>y</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>And get a chance to</span>
            <span>win tickets to the</span>
            <span>premiere of the movie</span>
          </span>
          <span>
            <span><span>And get a chance to</span></span>
            <span><span>win tickets to the</span></span>
            <span><span>premiere of the movie</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="card" style="background-image: url('https://d21950x0o1sh55.cloudfront.net/uploads/inside_exclusif/picture/26/desktop_VALERIAN_BNP_68.jpg');">
    <div class="card__content">
      <a class="play-button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
          <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
          <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
        </svg>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>T</span><span>T</span></span>
          <span><span>r</span><span>r</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>i</span><span>i</span></span>
          <span><span>l</span><span>l</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>r</span><span>r</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>Watch the new</span>
            <span>trailer of the movie</span>
          </span>
          <span>
            <span><span>Watch the new</span></span>
            <span><span>trailer of the movie</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="card" style="background-image: url('https://d21950x0o1sh55.cloudfront.net/uploads/inside_exclusif/picture/50/desktop_guided_tour_2.jpg');">
    <div class="card__content">
      <a class="play-button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
          <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
          <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
        </svg>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>C</span><span>C</span></span>
          <span><span>a</span><span>a</span></span>
          <span><span>s</span><span>s</span></span>
          <span><span>t</span><span>t</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>Get an exclusive</span>
            <span>preview of what's coming</span>
          </span>
          <span>
            <span><span>Get an exclusive</span></span>
            <span><span>preview of what's coming</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="card" style="background-image: url('https://d21950x0o1sh55.cloudfront.net/uploads/inside_exclusif/picture/6/desktop_VALERIAN_BNP_02.jpg');">
    <div class="card__content">
      <a class="play-button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50">
          <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
          <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
        </svg>
      </a>
      <div class="card__content--description">
        <h3 class="roll-up">
          <span><span>A</span><span>A</span></span>
          <span><span>c</span><span>c</span></span>
          <span><span>c</span><span>c</span></span>
          <span><span>e</span><span>e</span></span>
          <span><span>s</span><span>s</span></span>
          <span><span>s</span><span>s</span></span>
        </h3>
        <p class="text-reveal">
          <span>
            <span>Footage that has</span>
            <span>never been seen before</span>
          </span>
          <span>
            <span><span>Footage that has</span></span>
            <span><span>never been seen before</span></span>
          </span>
        </p>
      </div>
    </div>
  </div>
</div></body></html>